trigger: none

stages:
- stage: Terraform_CD
  displayName: 'Terraform CD'
  jobs:
  - deployment: Deploy
    displayName: 'Deploy Terraform Resources'
    environment: '$(environment)'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: terraform_plan

          - task: AzureCLI@2
            inputs:
              azureSubscription: '<YOUR_SERVICE_CONNECTION>'
              scriptType: bash
              scriptLocation: inlineScript
              inlineScript: |
                echo "Azure login successful"

          - task: ManualValidation@0
            inputs:
              notifyUsers: '<YOUR_EMAIL>'
              instructions: 'Approve to deploy Terraform plan'

          - script: |
              terraform apply -auto-approve tfplan
            displayName: 'Terraform Apply'
